VITE_MORALIS_APIKEY="Your-Moralis-API-Key"

VITE_N8N_API="Your-N8N-API-URL"
VITE_N8N_AUTH="Your-N8N-Auth-Token"

VITE_CLOUD_REOWN_PROJECT_ID="Your-Cloud-Reown-Project-ID"
VITE_CLOUD_REOWN_URL="Your-Cloud-Reown-URL"
VITE_CLOUD_REOWN_ICON="Your-Cloud-Reown-Icon-URL"